@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');

/* --------------------------------------------------------------- */

body{
    background-color: rgb(177, 212, 198);
    
}
/* --------------------------------------------------------------- */
table{
    border: solid 4px rgb(8, 7, 2);
    background-color: rgb(177, 212, 198);
    padding: 5px;
    margin: 0 auto;
    border-radius: 5px;

}
/* --------------------------------------------------------------- */

#divone{
    margin-right: 20%;
}
/* --------------------------------------------------------------- */

td{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 2px rgb(0 0 0);
    background-color: rgb(136 124 205);
    padding: 3px;
    border-radius: 9px;
}
/* --------------------------------------------------------------- */

#divTable{
    text-align: center;
}
/* --------------------------------------------------------------- */

h1{
    text-align: center;
    color: blanchedalmond;
    font-family: auto;
    font-size: xxx-large;
    cursor: copy;
    margin-left: 26%;
    
}
/* --------------------------------------------------------------- */

.one{
    height: 10cm;
    position: relative;
    left: 61%;
    top: -223px;
}

/* --------------------------------------------------------------- */


.two{
    position: relative;
    left: 28%;
    top: -5cm;
}
/* --------------------------------------------------------------- */

.three{
    position: relative;
    top: 282px;
    left: 20%;
    border-radius: 292%;
}
/* --------------------------------------------------------------- */

.four{
    border: double;
    border-radius: 50px;
    border-style: solid;
    border-color: pink;
    position: relative;
    left: 20%;
}
/* --------------------------------------------------------------- */

.five{
    position: relative;
    left: -55%;
}
/* --------------------------------------------------------------- */

.seven{
    position: relative;
    left: 56%;
    top: -7cm;
    border-radius: 300%;

}
/* --------------------------------------------------------------- */

.Location{
    line-height: 1.6;
    color: deeppink;
    font-family: cursive;
    width: 317px;
    position: relative;
    top: -6cm;
    left: 37%;

}
/* --------------------------------------------------------------- */

.sa3at{
    position: absolute;
    left: 14%;
}
/* --------------------------------------------------------------- */

#days{
    position: relative;
    top: 25px;
    left: 37%;

}
/* --------------------------------------------------------------- */

.ayam{
    position: relative;
    top: 100px;
    left: 19%;

}
/* --------------------------------------------------------------- */

#days1{
    height: 49px;
    width: 93px;
    color: grey;
}
/* --------------------------------------------------------------- */

.Order{
    
    border: double; 
    background-color: #95b4b4;
    height: 236px;
    width: 19%;
    text-align: -webkit-center;
    font-size: 117%;
    font-family: monospace;
    position: relative;
    left: 39%;
    top: -15px;
    border-radius: 60%;
}
/* --------------------------------------------------------------- */

.Order1{
    
        background-color: azure;
        width: 23%;
        text-align: -webkit-center;
        font-family: monospace;
        position: relative;
        left: 26%;
        top: 122px;
        border-radius: 60%;
}
/* --------------------------------------------------------------- */

.kabseh{
    border-radius: 10px;
    background-color: dimgray;
    color: floralwhite;
    box-shadow: 0 0 5px 1px red;

}
/* --------------------------------------------------------------- */

.lal{
    inline-size: auto;
    position: relative;
    left: 18%;
    top: -10cm;
}
/* --------------------------------------------------------------- */

label{
    cursor: pointer;
}
/* --------------------------------------------------------------- */

fieldset{
    border-radius: inherit;
}
/* --------------------------------------------------------------- */

input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
    box-shadow: 0 0 5px 1px red;

  }
  