@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');


body{
    background-color: rgb(177, 212, 198);
}

table{
    border: solid 4px rgb(8, 7, 2) ;
    background-color: rgb(235, 67, 95);
    padding: 5px;
    margin: 0 auto;
    border-radius: 5px;

}


td{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 2px rgb(13, 195, 228) ;
    background-color: rgb(96, 77, 204);
    padding: 3px;
    border-radius: 9px;
}

#divTable{
    text-align: center;
}

h1{
    text-align: center;
    color: blanchedalmond;
    font-family: auto;
    font-size: xxx-large;
    cursor: copy;
    
}

.one{
    height: 17cm;
    position: relative;
    left: 13%;
}



.two{
    margin-bottom: 40px;
    margin-top: 58px;
    position: relative;
    left: 22%;
}
.three{
    position: relative;
    top: 282px;
    left: 20%;
    border-radius: 292%;
}

.four{
    border: double;
    border-radius: 50px;
    border-style: solid;
    border-color: pink;
    position: relative;
    left: 11%;
}

.five{
    position: relative;
    left: -47%;
}

.seven{
    position: relative;
    left: 56%;
    top: 79px;
    border-radius: 300%;
}
.Location{
    line-height: 1.6;
    color: deeppink;
    font-family: cursive;
    padding: 10px;
    width: 317px;
    position: relative;
    top: 106px;
    left: 37%;

}

.sa3at{
    position: relative;
    left: 18%;
}

#days{
    margin-left: 37%;
    margin-top: 2%;

}
#days1{
    height: 49px;
    width: 93px;
    color: grey;
}